* {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
}
body {
    display: flex;
    flex-direction: column;
    padding: auto 10px;
}
a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}
/* nav bar */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
}
.name h3 {
    position: relative;
    margin-left: 2rem;
    color: darkblue;
}
#pages li {
    display: inline;
    position: relative;
    margin-right: 4.6rem;
}

/* main part */
#about-me {
    text-align: left;
}
#about-me h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}
.main-text {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paragraph {
    position: relative;
    width: 500px;
    line-height: 1.4;
    text-align: justify;
}

.main-text span {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-color: darkslateblue;
    color: aliceblue;
    padding: 0.25rem 0.25rem;
}

.main-text img {
   width: 300px;
   height: 380px;
   border: 1px solid grey;
   padding: 1rem 1rem;
   background-color: lightgray;
   border-radius: 2%;
   margin-top: 2rem;
}


/* skills part */

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills-icons i {
    font-size: 46px;
    color:  orange;
}






/* footer part */
#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
}

#contacts img {
    width: 2rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-heading {
    text-align: center;
    font-size: 2rem;
    margin: auto;
    padding: 1rem;
    color: darkblue;
}

.email p {
    text-align: center;
    color: darkblue;
}