.tech {
    margin-top: 50px;
    font-family: 'Roboto Slab';
    padding: 20px 20px;
}

.tech-stack {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    padding-top: 10px;
}

.tech-stack i {
    color: rgb(0, 91, 150);
}

.tech h2 {
    color: rgb(0, 91, 150);
    text-align: center;
    padding: 20px 20px;
}


